<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.model.BoardMapper">
	<insert id="insertBoard" parameterType="board.model.BoardVO">
		insert into board(num,userid,subject,content,wdate,filename,filesize)
		values(board_seq.nextval,#{userid},#{subject},#{content:VARCHAR},systimestamp,#{filename:VARCHAR},#{filesize:NUMERIC})
	</insert>
</mapper>
